@using Microsoft.AspNetCore.Identity;
@using OnlineMusicProject.Models
@inject SignInManager<Users> signInManager;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online Music</title>

    <link rel="icon" href="/img/core-img/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />
    
</head>
<body>
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="/Home/Index" class="nav-brand"><img src="/img/core-img/logo.png" alt="" style="margin: 20px"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav" style="margin-right:20px">
                                <ul> 
                                    <li><a href="/Home/Index">Home</a></li>
                                    <li><a href="/Users/AlbumsStore">Albums</a></li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="/Home/Index">Home</a></li>
                                            <li><a href="/Users/AlbumsStore">Albums</a></li>
                                            <li><a href="/Users/Event">Events</a></li>
                                            <li><a href="/Users/Blog">News</a></li>
                                            <li><a href="/Users/Contact">Contact</a></li>
                                            <li><a href="/Users/Elements">Elements</a></li>
                                            <li>
                                               @*  <a href="/Account/Login">Login</a> *@
                                                @if (signInManager.IsSignedIn(User))
                                                {
                                                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
                                                }
                                                else
                                                {
                                                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login / Register</a>
                                                }
                                            </li>
                                           <li>
                                                <a href="#">Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li>
                                                        <a href="#">Even Dropdown</a>
                                                        <ul class="dropdown">
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                </ul>
                                            </li> 
                                        </ul>
                                    </li>
                                    <li><a href="/Users/Event">Events</a></li>
                                    <li><a href="/Users/Blog">News</a></li>
                                    <li><a href="/Users/Contact">Contact</a></li>
                                </ul>
                                 
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                       @*  <a href="/Account/Login" id="loginBtn">Login / Register</a> *@
                                        @if (signInManager.IsSignedIn(User))
                                        {
                                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
                                        }
                                        else
                                        {
                                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login / Register</a>
                                        }
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="/img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text">
                        <a href="#">
                            Online Music - Relaxation options for every home 
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="/Home/Index">Home</a></li>
                            <li><a href="/Users/AlbumsStore">Albums</a></li>
                            <li><a href="/Users/Event">Events</a></li>
                            <li><a href="/Users/Blog">News</a></li>
                            <li><a href="/Users/Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

</body>
</html>
